@model ArtiklViewModel

<tr>
  <td class="text-left">
    @if (Model.ImaSliku)
    {
      <img src="@Url.Action("GetImage", "Artikl", new { id = @Model.SifraArtikla, hash=Model.ImageHash })"
           class="malaslika img-thumbnail" />
    }
  </td>
  <td class="text-left">@Model.SifraArtikla</td>
  <td class="text-left">@Model.NazivArtikla</td>
  <td class="text-left">@Model.JedinicaMjere</td>
  <td class="text-right text-nowrap">@Model.CijenaArtikla.ToString("C2")</td>
  <td class="text-left"><input type="checkbox" @(Model.Usluga ? "checked=checked" : "") class="disabled" />  </td>
  <td class="text-left">@Model.TekstArtikla</td>
  <td>
    <a data-sifartikla="@Model.SifraArtikla" class="btn btn-warning btn-xs editajax" title="Ažuriraj"><span class="glyphicon glyphicon-pencil"/></a>
  </td>
  <td>
    <form asp-action="Delete" method="post">
      @*Neće se koristiti direktni submit, ali treba zbog anti forgery tokena*@
      <input type="hidden" name="SifArtikla" value="@Model.SifraArtikla" />
      <button data-sifartikla="@Model.SifraArtikla" class="btn btn-xs btn-danger deleteajax" title="Obriši"><span class="glyphicon glyphicon-remove"/></button>
    </form>

  </td>
</tr>