@model PartneriViewModel

@{
    ViewBag.Title += "Države";   
}

<h2>Popis partnera</h2>


<a asp-action="Create">Unos novog partnera</a>

<div page-info="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-default"
     page-class-selected="btn-primary" class="btn-group pull-right">
</div>

<table class="table table-striped">
    <thead>
        <tr>
            @{
                string[] nazivi = { "Id partnera", "Tip partnera", "OIB", "Naziv" };
                for (int i = 1; i <= nazivi.Length; i++)
                {
                    <th>
                        <a asp-route-sort="@i" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == i ? Model.PagingInfo.Ascending? false : true : true)">
                            @nazivi[i - 1]
                        </a>
                    </th>
                }
            }
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var partner in Model.Partneri)
        {
            <tr>
                <td class="text-left">@partner.IdPartnera</td>
                <td class="text-left">@partner.TipPartneraText</td>
                <td class="text-left">@partner.OIB</td>    
                <td class="text-left">@partner.Naziv</td>
                <td>
                    <a asp-action="Edit" 
                       asp-route-id="@partner.IdPartnera" 
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-sort="@Model.PagingInfo.Sort"
                       asp-route-ascending="@Model.PagingInfo.Ascending"
                       
                       class="btn btn-warning btn-xs" title="Ažuriraj"><span class="glyphicon glyphicon-pencil"></span></a>                   
                </td>
                <td>
                    <form asp-action="Delete" method="post" 
                          asp-route-page="@Model.PagingInfo.CurrentPage"
                          asp-route-sort="@Model.PagingInfo.Sort"
                          asp-route-ascending="@Model.PagingInfo.Ascending"
                     >
                        <input type="hidden" name="IdPartnera" value="@partner.IdPartnera" />
                        <button type="submit" class="btn btn-xs btn-danger delete" title="Obriši"><span class="glyphicon glyphicon-remove"></span></button>                        
                    </form>
                </td>            
            </tr>
        }
    </tbody>
</table>